{% extends "base.html" %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <label for="title">Название рецепта:</label>
        <input type="text" id="title" name="title" required>

        <label for="ingredients">Ингредиенты:</label>
        <textarea id="ingredients" name="ingredients" required></textarea>

        <label for="instructions">Инструкция:</label>
        <textarea id="instructions" name="instructions" required></textarea>

        <label for="image">Фото:</label>
        <input type="file" id="image" name="image">

        <button type="submit">Добавить рецепт</button>
    </form>
{% endblock %}